.slide-enter-active {
    transition: transform 0.5s cubic-bezier(0.75, 0.11, 0.49, 1) 0.3s,
        opacity 0.3s cubic-bezier(0.75, 0.11, 0.49, 1) 0.4s;
}

.slide-leave-active {
    transition: transform 0.5s ease-in 0.3s, opacity 0.3s ease-in 0.4s;
}

.slide-enter,
.slide-leave-to {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67),
        opacity 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}