@mixin scrollbar ($thumb_color, $thumb_hover, $track_color) {

    & {
        scrollbar-width: thin;
        scrollbar-color: $thumb_color $track_color;
    }

    &::-webkit-scrollbar {
        width: 4px;
        height: 5px;
        padding: 5px 0;
        cursor: pointer;
        transition: all 0.2s;
    }

    &::-webkit-scrollbar-track {
        position: relative;
        background: rgba(255, 255, 255, 0.2);
        background: $track_color;
    }

    &::-webkit-scrollbar-thumb {
        // background-color: white;
        background-color: $thumb_color;

        border-radius: 4px;

        // &:active {
        //     background: rgba(255, 255, 255, 0.4);
        // }

        &:hover {
            // background: rgba(255, 255, 255, 0.7);
            background: $thumb_hover;
        }
    }

    & ::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    & ::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}